.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
}
.Header > div {
  display: flex;
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start;
}

.Header .header_center {
  width: 50%;
  justify-content: center;
  font-size: 25px;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
