.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1; /* 부모 요소의 크기를 벗어나지 않는 선에서 최대치 크기로 바뀜.*/
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Editor button {
  cursor: pointer;
  width: 80px;
  background-color: cadetblue;
  border: none;
  border-radius: 5px;
}
