.ListItem {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.ListItem input {
  width: 20px;
}

.ListItem .content {
  flex: 1;
}

.ListItem .date {
  font-size: small;
  color: darkgray;
}

.ListItem button {
  cursor: pointer;
  color: gray;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
