@font-face {
  font-family: "NanumPenScript"; /* 글꼴 이름은 마음대로 바꿔도 상관X */
  /* public에 저장된 폰트 파일 연결 
     -> public 폴더에 접근하는 경우 /만 입력하면 된다.
  */
  src: url("/NanumPenScript-Regular.ttf");
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

/* 
* {} 사용시 <html>, <head>, <meta>, <title>, <style>, <script> 같은 태그까지 포함한 모든 요소에 적용
  굳이 불필요한 태그에 기능 적용하면 성능에도 약간의 영향 발생
  불필요한 요소를 제외하고, 화면에 표시되는 요소에만 적용하는 것이 불필요한 오버헤드를 줄일 수 있는 실무적 방식
*/
body * {
  font-family: "NanumPenScript";
}
